@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Ajusta el ancho de la barra de desplazamiento */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; /* Color de la barra de desplazamiento */
  border-radius: 10px; /* Bordes redondeados */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color de la barra de desplazamiento al pasar el ratón */
}

.code-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.code-scrollbar::-webkit-scrollbar-thumb {
  background-color: #136AB7;
  border-radius: 4px;
}

.code-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #0F5A9D;
}

.code-scrollbar::-webkit-scrollbar-track {
  background-color: #699EC7;
  border-radius: 4px;
}

/* Estilo para Firefox */
pre {
  scrollbar-width: thin;
  scrollbar-color: #136AB7 #699EC7;
}



/* PABLO CSS */
.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}
.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

@media (min-width: 1624px) {
  .main-content {
    max-width: 1400px !important;
    padding-left: 150px !important;
  }
}
.doc-section {
  min-height: 80vh;
}
.doc-section ul {
  padding: 15px 0 0 30px;
}
.doc-section ul li {
  list-style: disc;
}

.main-content a {
  color: #1e64a7;
  font-weight: 600;
  transition: all 0.2s ease;
}
.main-content a:hover {
  color: #7db8f1;
  font-weight: 600;
  transition: all 0.2s ease;
}
.main-content a.green-link {
  color: #6FA43A;
}
.main-content a.green-link:hover {
  color: #b9f082;
}

/* Apply this to the body or main container of the documentation */
body {
  background: radial-gradient(circle at center, rgba(19, 106, 183, 0.3) 20%, rgba(255, 255, 255, 1) 80%);
  background-attachment: fixed;
  background-size: 300px 300px; /* Set a smaller size for the gradient circle */
  background-repeat: no-repeat; /* Prevents tiling */
}